<div class="container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <h2>Manage Your Friends</h2>

  <ul class="nav nav-pills mtb-4">
    <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#sendFriendRequest">Send Friend Request</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#acceptFriendRequests">Accept Received Friend Requests</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#seeFriends">See Current List of Friends</a></li>
  </ul>


  <!-- Tab panes -->
  <div class="tab-content mt-5">
    <div class="tab-pane container active" id="sendFriendRequest">
    
      
      <div class="row" >
        <div class="offset-sm-1 col-sm-3">
          <label for="friendEmail">Enter Friend's email/username</label>          
        </div>
        <div class="col-sm-4">
          <input id="friendEmail" [(ngModel)]="sendRequestToEmail">
        </div>
        <div class="col-sm-2">
          <button class="btn-primary" (click)=OnSendFriendRequest()>Send Request</button>
        </div>
      </div>
    </div>


    <div class="tab-pane container fade" id="acceptFriendRequests">
      <div class="card">
        <h4 class="card-header">
            Received Friend Requests
        </h4>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <th>First Name</th>
                    <th>Second Name</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let friendRequest of PlayerFriendRequests">
                        <td>{{friendRequest?.RequestingPlayerFirstName}}</td>
                        <td>{{friendRequest?.RequestingPlayerLastName}}</td>
                        <td>{{friendRequest?.RequestingPlayerEmail}}</td>
                        <td>
                            <!--<button class="btn btn-outline-primary btn-sm mr-2" (click)="viewGame(game)">View</button>-->
                            <button class="btn btn-outline-primary btn-sm mr-2" (click)="AcceptFriendRequest(friendRequest)">Accept</button>
                        </td>
                        <td>
                          <button class="btn btn-outline-primary btn-sm mr-2" (click)="DeclineFriendRequest(friendRequest)">Decline</button>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>


    <div class="tab-pane container fade" id="seeFriends">
      <div class="card">
        <h4 class="card-header">
            Currently {{currentPlayer}} is Friends With the Following Users
        </h4>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <th>First Name</th>
                    <th>Second Name</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let playerFriend of PlayerFriends">
                        <td>{{playerFriend?.FirstName}}</td>
                        <td>{{playerFriend?.LastName}}</td>
                        <td>{{playerFriend?.PlayerEmail}}</td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm mr-2" (click)="viewFriendProfile(playerFriend)">View</button>
                        </td>
                        <td>
                          <button class="btn btn-outline-primary btn-sm mr-2" (click)="DeletePlayer(playerFriend)">Delete</button>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>